<div id="hero-image">
	<h1 id="hero-title">ADMIN LOG IN
	</h1>
</div>

<div id="main">
	<div class="container">

	   	<div class="row">
	   	    <div class="col-md-6">

	   	    	<form id="form" name="form" action="" method="POST">
	   	    		
	   	    		<div class="col-md-12">
	   	    		 <label>Username:</label>
	   	    			<input type="text" name="username" class="form-group form-control" required>
	   	    		</div>
	   	    		<div class="col-md-12">
	   	    		 <label>Password:</label>
	   	    			<input type="password" name="password" class="form-group form-control" required>
	   	    		</div>
	   	    		<div class="col-md-12">
	   	    			{{!-- {{login}} --}}
	   	                <button class="btn btn-primary" type="submit">Log In</button>
	   	    		</div>

	   	    		{{#if err}}
	   	    		<div id="message">
	   	    			<div style="padding: 5px;">
	   	    				<div class="alert alert-warning"><div class="col-md-offset-3"><i class="fa fa-exclamation-triangle"></i>Incorrect Username or Password  </div></div>
	   	    			</div>
	   	    		</div>
	   	    		{{/if}}
	   	    		
	   	    	</form>

	   	    </div>
	   	</div>

	</div>
</div>



        {{!-- if($username == $user && $password == $pass)
        {
             $_SESSION['username'] = $user;
             $_SESSION['email'] = $email;
             $_SESSION['role'] = $role;
             
            echo('<div class="alert alert-success"><div class="col-md-offset-4"><i class="fa fa-check-circle"></i>Login successful</div></div>');
            echo ('<script>window.location="index.php";</script>');
        }else {
            echo('<div class="alert alert-warning"><div class="col-md-offset-3"><i class="fa fa-exclamation-triangle"></i>Incorrect Username or Password  </div></div>');
        }
      } --}}