<div id="body">
   <div class="container">
   	  <div class="row">
   	  	 <div class="col-md-2" id="navigation">
           <div class="container"  >
   	         <div class="row"  >
              <div class="col-md-12" id="profile-item" >
               <img src="images/administrator.png" height="70px" width="70px" > 
               <strong>{{username}}</strong> 
  	          </div>
            </div>
            <div class="row">
            	<div class="col-md-2" id="navigation-links">
     	 	  <div id="nav">
            <ul class="nav">
            <li class="position"><a href="/admin/index" title="Dashboard" ><i class="fa fa-home fa-2x"></i><br>Dashboard</a></li>
            <li class="position"><a href="/admin/profile" title="Profile"><i class="fa fa-user fa-2x"></i><br>Profile</a></li>
          <li class="position "><a href="/admin/userlist" title="Users"><i class="fa fa-user fa-2x"></i><br>Users</a></li>
          <li class="position"><a href="/admin/bookings" title="Booking"><i class="fa fa-user fa-2x"></i><br>Bookings</a></li>
          <li class="position"><a href="/admin/movieslist" title="Forum"><i class="fa fa-search fa-2x"></i><br>Movies</a></li>
      </ul>
         </div>
     	 </div>
            </div>
          </div> 
        </div>
   	  </div>
   	  <div id="activity-items">
   	  <div id="title-con">
   	  	 <ol class="breadcrumb navbar-right">
   	  	<li class="active"><a href="/admin/index">Home</a></li>
   	  </ol>
   	  <h2>Dashboard</h2>
   	  </div
   	  
   	   	  <div class="row">
     	  <div class=" col-md-3 stats" id="data-stats-1">
     	  	<h1><strong></strong></h1><p>Registered Users</p>
     	  	 <section>
     	  	 	<h5><a href="/admin/users">More Info</a></h5>
     	  	 </section>
     	  </div>
     	  <div class="col-md-3 stats" id="data-stats-2">
     	  	<h1><strong></strong></h1><p>Uploaded Movies</p>
           <section>
            <h5><a href="/admin/movieslist">More Info</a></h5>
           </section>
     	  </div>
     	  <div class="col-md-3 stats" id="data-stats-3">
     	  	<h1><strong></strong></h1><p>Booked Movies</p>
           <section>
            <h5><a href="/admin/bookings">More Info</a></h5>
           </section>
     	  </div>
        </div>
   	  </div>
   </div>

</div>
  
