<!--To login admins to the website-->
  <div class="navbar-fixed-top" role="navigation" id="navbar" >
	  <a href="../index.php"><i class="fa fa-home fa-2x" alt="Home"></i></a><h2>ADMIN PANEL</h2>
	</div>	
	<!-- Login div-->

	<div id="login-div" class="container">
	<div class="row">
		<div class="col-md-5 col-md-offset-2">
	  	    <div class="col-md-9 col-md-offset-4" style="margin-top:100px; position:absolute; z-index:1000;">
	  	    </div>
	 </div>
	</div>
	<div class="row">
	  
	  <div class="col-md-5 col-md-offset-3 ">
	  
		 <div id="login-form" class="col-md-12 col-md-offset-1">
                	
		        <form  id="form" name="form" method="POST" action="#">
			     <div class="col-md-12">
				 <label>Username</label>
				 <input class="form-group form-control" type="text" id="username" name="username"/>
				 </div>
			     <div class="col-md-12">
				 <label>Password</label>
				 <input class="form-group form-control" id="password"  type="password" name="password"/>
				 </div>
			     <div class="col-md-12">
				 <input class="btn btn-orange" name="submit" type="submit" value="LOGIN"/>
				 
				 </div>
				 </form>
			 </form>						   
		 </div>
		</div>
	  </div>
	</div>