<!DOCTYPE html>
<html lang="en">
<head>
    {{>adminhead}}
    {{>adminscripts}}
    
</head>

<body>
{{>adminheader}}


<div class="container">
{{{body}}}
</div>

<div class="footer">
{{>footer}}
</div>

<script src="./js/bootstrap.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/npm.js"></script>

</body>
</html>