<div id="hero-image">
	<h1 id="hero-title">REGISTRATION</h1>
</div>

<div id="main">
	<div class="container">

	   	<div class="row">
	   	    <div class="col-md-6">
	   	    	<form id="form" name="form" action="" method="POST">
	   	    		
	   	    		<div class="col-md-12">
	   	    		 <label>Name:</label>
	   	    			<input type="text" name="name" class="form-group form-control" required>
	   	    		</div>
	   	    		<div class="col-md-12">
	   	    		 <label>User Name:</label>
	   	    			<input type="text" name="username" class="form-group form-control" required>
	   	    		</div>
	   	    		<div class="col-md-12">
	   	    		 <label>Email:</label>
	   	    			<input type="email" name="email" class="form-group form-control" required>
	   	    		</div>
	   	    		<div class="col-md-12">
	   	    		 <label>Phone Number:</label>
	   	    			<input type="number" name="phone_no" class="form-group form-control" required>
	   	    		</div>
	   	    		<div class="col-md-12">
	   	    		 <label>Location:</label>
	   	    			<input type="text" name="location" class="form-group form-control" required>
	   	    		</div>
	   	    		<div class="col-md-12">
	   	    		 <label>Password:</label>
	   	    			<input type="password" name="password" class="form-group form-control" required>
	   	    		</div>
	   	    		<div class="col-md-12">
	   	    		 {{!-- <label>Confirm Password:</label>
	   	    			<input type="password" name="password" class="form-group form-control" required>
	   	    		</div> --}}
	   	    		<div class="col-md-6">
	   	                <button class="btn btn-primary" type="submit">Register</button>
	   	    		</div>
	   	    	</form>

	   	    </div>
	   	</div>

	</div>
</div>